@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

.img{
    width: 100%;
    height: 100%;
}

h1{
    color: royalblue;
    font-style: italic;
    font-family: sans-serif;
}